@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;900&display=swap"');


:root {
  // Font
  --font-family-main: 'Montserrat', 'sans-serif';

  --font-size-m: 14px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);


  // Margins, paddings, sizes
  --sidebar-width: 290px;
  --havbar-height: 152px;
  --link-radius: 10px;


  //  Colors
  --primary-blue: #61BDFF;
  --secondary-blue: #3780b5;
  --light-gray: #c7c7c7;
  --light-gray-prim: #F3F3F3;
  --light-blue: #f0f7ff;
  --bg-white: #F5F7FA;

  // Effects
  --box-shadow: 0px 4px 15.3px 0px rgba(0, 0, 0, 0.10);

  
} 